<html>
<head>
    <meta charset="utf-8">
    <style>
    @font-face {
    font-family: 'NEXON Lv1 Gothic OTF';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv1 Gothic OTF.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    }

    @font-face {
    font-family: 'ghanachoco';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@1.0/ghanachoco.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.illandril-chat-enhancements--currentSpeaker {
  flex: 0;
  padding: 3px 0.5em;
}

.illandril-chat-enhancements--currentSpeakerToggle:hover {
  opacity: 1;
}

.illandril-chat-enhancements--playerName {
  opacity: 0.5;
}

.illandril-chat-enhancements--playerName::before {
  content: ' [';
}

.illandril-chat-enhancements--playerName::after {
  content: ']';
}

    </style>
</head>
<body>
    <!--StartFragment-->
    <section class="sidebar-tab tab flexcol" id="chat" data-tab="chat" wfd-id="8"
        style="box-sizing: border-box; user-select: all; display: block; flex-flow: column nowrap; justify-content: flex-start; overflow: visible; position: absolute; top: 0px; width: 100%; height: calc(100% - 40px); left: 0px;">
        <ol id="chat-log"
            style="box-sizing: border-box; user-select: all; margin: 0px; padding: 0px; flex: 1 1 0%; height: 676.8px; overflow: visible; list-style: none;">
            <li class="chat-message message flexcol ic" data-message-id="QgC5ARjAPoiWw5wx" wfd-id="27"
                style="box-sizing: border-box; user-select: all; display: flex; flex-flow: column nowrap; justify-content: flex-start; background: rgb(232, 232, 239); padding: 5px; color: black; font-size: 14px; border: 2px solid rgb(40, 98, 204); border-radius: 5px; margin: 3px; font-family:  NEXON Lv1 Gothic OTF ;">
                <header class="message-header flexrow"
                    style="box-sizing: border-box; user-select: all; display: flex; flex-flow: row wrap; justify-content: flex-start; flex: 1 1 0%; line-height: 20px; color: rgb(75, 74, 68); border-top: none; border-right: none; border-left: none; border-image: initial; border-bottom: 2px solid rgb(201, 201, 201); margin-bottom: 10px;">
                    <img src="https://main.fvttcrownel.kro.kr/gm-items/%EC%95%8C%ED%8C%8C%EC%B9%B4%20%EC%9A%94%EC%A0%95.png"
                        width="36" height="36"
                        style="box-sizing: border-box; user-select: all; border: 3px solid rgb(40, 98, 204); border-radius: 50%; max-width: 100%; flex: 0 0 0px; margin-right: 5px; margin-bottom: 3px; object-fit: contain;">
                    <h4 class="message-sender"
                        style="box-sizing: border-box; user-select: all; margin: 0px 0px 7px; padding: 7px 0px 0px; font-weight: bold; flex: 2 1 0%; white-space: nowrap; font-family:  ghanachoco , sans-serif; border-bottom: 2px solid rgb(117, 117, 117); text-align: left; font-style: normal; font-size: 16px;">
                        GM
                        <span class="illandril-chat-enhancements--playerName" wfd-id="30"
                            style="box-sizing: border-box; user-select: all; opacity: 0.5;">GM</span>
                    </h4>
                    <span class="message-metadata" wfd-id="29"
                        style="box-sizing: border-box; user-select: all; flex: 2 1 0%; text-align: right; font-size: 12px;"><time
                            class="message-timestamp" style="box-sizing: border-box; user-select: all;">2021. 5. 19. 오후
                            3:16:26</time><span> </span><a class="button message-delete"
                            style="box-sizing: border-box; user-select: all; cursor: inherit !important;"><i
                                class="fas fa-trash"
                                style="box-sizing: border-box; user-select: all; -webkit-font-smoothing: antialiased; display: inline-block; font-style: normal; font-variant: normal; text-rendering: auto; line-height: 1; font-family:  Font Awesome 5 Free ; font-weight: 900;"></i></a></span>
                </header>
                <div class="message-content" wfd-id="28"
                    style="box-sizing: border-box; user-select: text; flex: 1 1 0%;">안녕</div>
            </li>
            <li class="chat-message message flexcol ic" data-message-id="ZFv2wlB0NhLgNEJm" wfd-id="23"
                style="box-sizing: border-box; user-select: all; display: flex; flex-flow: column nowrap; justify-content: flex-start; background: rgb(232, 232, 239); padding: 5px; color: black; font-size: 14px; border: 2px solid rgb(40, 98, 204); border-radius: 5px; margin: 3px; font-family:  NEXON Lv1 Gothic OTF ;">
                <header class="message-header flexrow"
                    style="box-sizing: border-box; user-select: all; display: flex; flex-flow: row wrap; justify-content: flex-start; flex: 1 1 0%; line-height: 20px; color: rgb(75, 74, 68); border-top: none; border-right: none; border-left: none; border-image: initial; border-bottom: 2px solid rgb(201, 201, 201); margin-bottom: 10px;">
                    <img src="https://main.fvttcrownel.kro.kr/gm-items/%EC%95%8C%ED%8C%8C%EC%B9%B4%20%EC%9A%94%EC%A0%95.png"
                        width="36" height="36"
                        style="box-sizing: border-box; user-select: all; border: 3px solid rgb(40, 98, 204); border-radius: 50%; max-width: 100%; flex: 0 0 0px; margin-right: 5px; margin-bottom: 3px; object-fit: contain;">
                    <h4 class="message-sender"
                        style="box-sizing: border-box; user-select: all; margin: 0px 0px 7px; padding: 7px 0px 0px; font-weight: bold; flex: 2 1 0%; white-space: nowrap; font-family:  ghanachoco , sans-serif; border-bottom: 2px solid rgb(117, 117, 117); text-align: left; font-style: normal; font-size: 16px;">
                        GM
                        <span class="illandril-chat-enhancements--playerName" wfd-id="15"
                            style="box-sizing: border-box; user-select: all; opacity: 0.5;">GM</span></h4><span
                        class="message-metadata" wfd-id="25"
                        style="box-sizing: border-box; user-select: all; flex: 2 1 0%; text-align: right; font-size: 12px;"><time
                            class="message-timestamp" style="box-sizing: border-box; user-select: all;">2021. 5. 19. 오후
                            4:08:59</time><span> </span><a class="button message-delete"
                            style="box-sizing: border-box; user-select: all; cursor: inherit !important;"><i
                                class="fas fa-trash"
                                style="box-sizing: border-box; user-select: all; -webkit-font-smoothing: antialiased; display: inline-block; font-style: normal; font-variant: normal; text-rendering: auto; line-height: 1; font-family:  Font Awesome 5 Free ; font-weight: 900;"></i></a></span>
                </header>
                <div class="message-content" wfd-id="24"
                    style="box-sizing: border-box; user-select: text; flex: 1 1 0%;">안녕하세요</div>
            </li>
            <li class="chat-message message flexcol " data-message-id="yr7wEWpeiPTNdtUa" wfd-id="20"
                style="box-sizing: border-box; user-select: all; display: flex; flex-flow: column nowrap; justify-content: flex-start; background: rgb(217, 217, 229); padding: 5px; color: rgb(78, 96, 113); font-size: 14px; border: 2px solid rgb(111, 108, 102); border-radius: 5px; margin: 3px; font-family:NEXON Lv1 Gothic OTF ;">
                <header class="message-header flexrow"
                    style="box-sizing: border-box; user-select: all; display: flex; flex-flow: row wrap; justify-content: flex-start; flex: 1 1 0%; line-height: 20px; color: rgb(75, 74, 68); border-top: none; border-right: none; border-left: none; border-image: initial; border-bottom: 2px solid rgb(201, 201, 201); margin-bottom: 10px;">
                    <h4 class="message-sender"
                        style="box-sizing: border-box; user-select: all; margin: 0px 0px 7px; padding: 7px 0px 0px; font-weight: bold; flex: 2 1 0%; white-space: nowrap; font-family:  ghanachoco , sans-serif; border-bottom: 2px solid rgb(117, 117, 117); text-align: left; font-style: normal; font-size: 16px;">
                        GM</h4><span class="message-metadata" wfd-id="22"
                        style="box-sizing: border-box; user-select: all; flex: 2 1 0%; text-align: right; font-size: 12px;"><time
                            class="message-timestamp" style="box-sizing: border-box; user-select: all;">2021. 5. 24. 오전
                            10:48:10</time><span> </span><a class="button message-delete"
                            style="box-sizing: border-box; user-select: all; cursor: inherit !important;"><i
                                class="fas fa-trash"
                                style="box-sizing: border-box; user-select: all; -webkit-font-smoothing: antialiased; display: inline-block; font-style: normal; font-variant: normal; text-rendering: auto; line-height: 1; font-family:  Font Awesome 5 Free ; font-weight: 900;"></i></a></span>
                </header>
                <div class="message-content" wfd-id="21"
                    style="box-sizing: border-box; user-select: text; flex: 1 1 0%;">안녕</div>
            </li>
            <li class="chat-message message flexcol whisper" data-message-id="3U5TnxKypBXPf6Kj" wfd-id="16"
                style="box-sizing: border-box; user-select: all; display: flex; flex-flow: column nowrap; justify-content: flex-start; background: rgb(142, 160, 177); padding: 5px; color: rgb(78, 96, 113); font-size: 14px; border: 2px solid rgb(111, 108, 102); border-radius: 5px; margin: 3px; font-family:  NEXON Lv1 Gothic OTF ;">
                <header class="message-header flexrow"
                    style="box-sizing: border-box; user-select: all; display: flex; flex-flow: row wrap; justify-content: flex-start; flex: 1 1 0%; line-height: 20px; color: rgb(75, 74, 68); border-top: none; border-right: none; border-left: none; border-image: initial; border-bottom: 2px solid rgb(201, 201, 201); margin-bottom: 10px;">
                    <h4 class="message-sender"
                        style="box-sizing: border-box; user-select: all; margin: 0px 0px 7px; padding: 7px 0px 0px; font-weight: bold; flex: 2 1 0%; white-space: nowrap; font-family:  ghanachoco , sans-serif; border-bottom: 2px solid rgb(117, 117, 117); text-align: left; font-style: normal; font-size: 16px;">
                        GM</h4><span class="message-metadata" wfd-id="19"
                        style="box-sizing: border-box; user-select: all; flex: 2 1 0%; text-align: right; font-size: 12px;"><time
                            class="message-timestamp" style="box-sizing: border-box; user-select: all;">2021. 5. 24. 오전
                            10:52:41</time><span> </span><a class="button message-delete"
                            style="box-sizing: border-box; user-select: all; cursor: inherit !important;"><i
                                class="fas fa-trash"
                                style="box-sizing: border-box; user-select: all; -webkit-font-smoothing: antialiased; display: inline-block; font-style: normal; font-variant: normal; text-rendering: auto; line-height: 1; font-family:  Font Awesome 5 Free ; font-weight: 900;"></i></a></span><span
                        class="whisper-to" wfd-id="18"
                        style="box-sizing: border-box; user-select: all; flex: 0 0 100%; font-size: 12px;">To: GM,
                        서브GM</span>
                </header>
                <div class="message-content" wfd-id="17"
                    style="box-sizing: border-box; user-select: text; flex: 1 1 0%;">안녕</div>
            </li>
            <li class="chat-message message flexcol ic" data-message-id="AjfeX8H5K3Oe5EZJ" wfd-id="12"
                style="box-sizing: border-box; user-select: all; display: flex; flex-flow: column nowrap; justify-content: flex-start; background: rgb(232, 232, 239); padding: 5px; color: black; font-size: 14px; border: 2px solid rgb(40, 98, 204); border-radius: 5px; margin: 3px; font-family:  NEXON Lv1 Gothic OTF ;">
                <header class="message-header flexrow"
                    style="box-sizing: border-box; user-select: all; display: flex; flex-flow: row wrap; justify-content: flex-start; flex: 1 1 0%; line-height: 20px; color: rgb(75, 74, 68); border-top: none; border-right: none; border-left: none; border-image: initial; border-bottom: 2px solid rgb(201, 201, 201); margin-bottom: 10px;">
                    <img src="https://main.fvttcrownel.kro.kr/gm-items/%EC%95%8C%ED%8C%8C%EC%B9%B4%20%EC%9A%94%EC%A0%95.png"
                        width="36" height="36"
                        style="box-sizing: border-box; user-select: all; border: 3px solid rgb(40, 98, 204); border-radius: 50%; max-width: 100%; flex: 0 0 0px; margin-right: 5px; margin-bottom: 3px; object-fit: contain;">
                    <h4 class="message-sender"
                        style="box-sizing: border-box; user-select: all; margin: 0px 0px 7px; padding: 7px 0px 0px; font-weight: bold; flex: 2 1 0%; white-space: nowrap; font-family:  ghanachoco , sans-serif; border-bottom: 2px solid rgb(117, 117, 117); text-align: left; font-style: normal; font-size: 16px;">
                        GM<span class="illandril-chat-enhancements--playerName" wfd-id="15"
                            style="box-sizing: border-box; user-select: all; opacity: 0.5;">GM</span></h4><span
                        class="message-metadata" wfd-id="14"
                        style="box-sizing: border-box; user-select: all; flex: 2 1 0%; text-align: right; font-size: 12px;"><time
                            class="message-timestamp" style="box-sizing: border-box; user-select: all;">2021. 5. 24. 오후
                            7:55:56</time><span> </span><a class="button message-delete"
                            style="box-sizing: border-box; user-select: all; cursor: inherit !important;"><i
                                class="fas fa-trash"
                                style="box-sizing: border-box; user-select: all; -webkit-font-smoothing: antialiased; display: inline-block; font-style: normal; font-variant: normal; text-rendering: auto; line-height: 1; font-family:  Font Awesome 5 Free ; font-weight: 900;"></i></a></span>
                </header>
                <div class="message-content" wfd-id="13"
                    style="box-sizing: border-box; user-select: text; flex: 1 1 0%;">나는 몬스터를 소환~</div>
            </li>
            <li class="chat-message message flexcol " data-message-id="fq3jT51TqdYYLO4K" wfd-id="9"
                style="box-sizing: border-box; user-select: all; display: flex; flex-flow: column nowrap; justify-content: flex-start; background: rgb(217, 217, 229); padding: 5px; color: rgb(78, 96, 113); font-size: 14px; border: 2px solid rgb(111, 108, 102); border-radius: 5px; margin: 3px; font-family:  NEXON Lv1 Gothic OTF ;">
                <header class="message-header flexrow"
                    style="box-sizing: border-box; user-select: all; display: flex; flex-flow: row wrap; justify-content: flex-start; flex: 1 1 0%; line-height: 20px; color: rgb(75, 74, 68); border-top: none; border-right: none; border-left: none; border-image: initial; border-bottom: 2px solid rgb(201, 201, 201); margin-bottom: 10px;">
                    <h4 class="message-sender"
                        style="box-sizing: border-box; user-select: all; margin: 0px 0px 7px; padding: 7px 0px 0px; font-weight: bold; flex: 2 1 0%; white-space: nowrap; font-family:  ghanachoco , sans-serif; border-bottom: 2px solid rgb(117, 117, 117); text-align: left; font-style: normal; font-size: 16px;">
                        GM</h4><span class="message-metadata" wfd-id="11"
                        style="box-sizing: border-box; user-select: all; flex: 2 1 0%; text-align: right; font-size: 12px;"><time
                            class="message-timestamp" style="box-sizing: border-box; user-select: all;">2021. 5. 24. 오후
                            7:56:04</time><span> </span><a class="button message-delete"
                            style="box-sizing: border-box; user-select: all; cursor: inherit !important;"><i
                                class="fas fa-trash"
                                style="box-sizing: border-box; user-select: all; -webkit-font-smoothing: antialiased; display: inline-block; font-style: normal; font-variant: normal; text-rendering: auto; line-height: 1; font-family:  Font Awesome 5 Free ; font-weight: 900;"></i></a></span>
                </header>
                <div class="message-content" wfd-id="10"
                    style="box-sizing: border-box; user-select: text; flex: 1 1 0%;">개웃기다 진짜로</div>
            </li>
        </ol>
    </section>
 <!--EndFragment-->
</body>

</html>
