<!DOCTYPE html>
<html>
<head>
    <style>
        @font-face {
    font-family: 'ChosunSm';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@1.1/ChosunSm.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
  background-color:#ce3635;
  text-align: center;
  color:#fff;
  padding-top:10em;
}

* { font-family:'ChosunSm',sans-serif; color:#fff; text-decoration: none;}
    </style>
</head>
<body>
   <h1>
    <a href="" class="typewrite" data-period="2000" data-type='[ "아아, 무정이 유정을 띠었도다!", "극락왕생하소서.", "이것은 자비, 그는 스스로 자비를 깨달았다.", "인간이면서 인간이지 아니하매, 구원받으리.", "절망적이면서 희망적입니다. 투명하면서도 불투명합니다.", "색즉시공 공즉시색","■신의 고통■서 탈피■■...", "윤회하라." ]'>
      <span class="wrap"></span>
    </a>
  </h1>
  <script>
      var TxtType = function(el, toRotate, period) {
        this.toRotate = toRotate;
        this.el = el;
        this.loopNum = 0;
        this.period = parseInt(period, 10) || 2000;
        this.txt = '';
        this.tick();
        this.isDeleting = false;
    };

    TxtType.prototype.tick = function() {
        var i = this.loopNum % this.toRotate.length;
        var fullTxt = this.toRotate[i];

        if (this.isDeleting) {
        this.txt = fullTxt.substring(0, this.txt.length - 1);
        } else {
        this.txt = fullTxt.substring(0, this.txt.length + 1);
        }

        this.el.innerHTML = '<span class="wrap">'+this.txt+'</span>';

        var that = this;
        var delta = 200 - Math.random() * 100;

        if (this.isDeleting) { delta /= 2; }

        if (!this.isDeleting && this.txt === fullTxt) {
        delta = this.period;
        this.isDeleting = true;
        } else if (this.isDeleting && this.txt === '') {
        this.isDeleting = false;
        this.loopNum++;
        delta = 500;
        }

        setTimeout(function() {
        that.tick();
        }, delta);
    };

    window.onload = function() {
        var elements = document.getElementsByClassName('typewrite');
        for (var i=0; i<elements.length; i++) {
            var toRotate = elements[i].getAttribute('data-type');
            var period = elements[i].getAttribute('data-period');
            if (toRotate) {
              new TxtType(elements[i], JSON.parse(toRotate), period);
            }
        }
        // INJECT CSS
        var css = document.createElement("style");
        css.type = "text/css";
        css.innerHTML = ".typewrite > .wrap { border-right: 0.08em solid #fff}";
        document.body.appendChild(css);
    };
  </script>
</body>
</html>